/* Waybar style.css
R: v0.2.2; E: 2025/07/18 */

@define-color bgcolor rgba(43, 43, 59, 0.5);
@define-color surface rgb(19, 19, 30);
@define-color surfacefaint rgba(19, 19, 30, 0.5);
@define-color surfacefaint2 rgba(19, 19, 30, 0.8);
@define-color text rgba(255, 255, 255, 0.9);
@define-color textdark rgba(10, 10, 14, 0.9);
/* Iceberg color palette thanks to cocopon/iceberg.vim */
@define-color iceberg #598fe0;
@define-color iceberg-blue #85a0c7;
@define-color iceberg-green #b8c587;
@define-color iceberg-lblue #89b9c2;
@define-color iceberg-orange #e2a578;
@define-color iceberg-purple #a093c8;
@define-color iceberg-red #e17a7a;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Consolas NF, monospace;/*, FontAwesome, Roboto, Helvetica, Arial, sans-serif, monospace;*/
    font-size: 14px;
}

window#waybar {
    background-color: @bgcolor;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button {
    padding: 0 5px;
    padding-bottom: 1px;
    background-color: @surfacefaint;
    color: @text;
    margin: 4px 2px;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bold;
}

#workspaces button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}

#workspaces button.active, #workspaces button:focus {
    background-color: @iceberg-lblue;
    color: @textdark;
    padding: 0 12px;
    margin: 4px 2px;
    font-family: monospace;
}

#workspaces button.urgent {
    background-color: @iceberg-red;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#mpd {
    padding: 0px 10px;
    color: @text;
    border-radius: 0px;
    margin: 4px 0px;
    background-color: @surface;
}
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#custom-power:hover,
#mpd:hover {
    background-color: @surfacefaint;
}

#workspaces {
    margin: 0 4px;
}

/* Right modules end caps */
#idle_inhibitor {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#custom-power {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#clock {
    color: @iceberg-lblue;
}

#battery {
    color: @iceberg-orange;
}

#battery.charging, #battery.plugged {
    color: @iceberg-green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @iceberg-red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    color: @iceberg-red;
}

#power-profiles-daemon.balanced {
    color: @iceberg-blue;
}

#power-profiles-daemon.power-saver {
    color: @iceberg-green;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: @iceberg-blue;
}

#network.disconnected {
    color: @iceberg-orange;
}

#pulseaudio {
    color: @iceberg-lblue;
}

#pulseaudio.muted {
    color: @iceberg-red;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-power {
    color: @iceberg-blue;
    margin-right: 4px;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    color: @iceberg-orange;
}

#idle_inhibitor.activated {
    color: @iceberg-red;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
