/* Wofi styles
R: v0.1.2; E: 2025/07/19 */

@define-color bg-main rgba(18, 18, 27, 0.98);
@define-color bg-light rgb(36, 36, 51);
@define-color bg-light-2 rgb(46, 46, 62);
@define-color border rgb(48, 48, 68);
@define-color text-bright rgb(240, 240, 240);
@define-color text-faint rgb(126, 126, 150);
@define-color transparent rgba(0, 0, 0, 0);

window {
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    background-color: @bg-main;
    font-size: 14px;
}

#inner-box {
    margin: 8px;
    padding: 0px;
    background-color: @transparent;
    border-radius: 8px;
}

#input {
    background-color: @transparent;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 1px @border;
    padding: 4px 10px;
}
#input:active, #input:focus {
    box-shadow: none;
}
#input * {
    border: none;
    outline: none;
}
#input image {
    border: none;
    color: @border;
}

#entry {
    background-color: @transparent;
    color: @text-faint;
    padding: 8px 8px;
    border-radius: 8px;
}
#entry:selected {
    background-color: @bg-light;
    color: @text-bright;
}
#entry:focus {
    outline: none;
}
#entry image {
    margin-right: 10px;
    margin-left: 4px;
}
#entry arrow {
    border: none;
    color: @border;
}
#entry:selected arrow {
    color: @text-bright;
}
